#dashBody {
  background-color: lightblue;
  margin-left: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px 0px 10px 10px;
}

#dashBody > h1 {
  font-size: 4vw;
  margin-bottom: 2%;
}

#dashBody > h2 {
  padding: 10px;
}
